@import url("http://fonts.googleapis.com/css?family=Josefin+Sans:400");

html {
	font-family: 'Josefin Sans', sans-serif;
}

body {
	font-size: 18px;
}

a {
	text-decoration: none;
	color: #1581c1;
}

#header {
	font-size: 40px;
	padding-bottom: 16px;
}

#wrap {
	width: 940px;
	margin: 0px auto 0px auto;
	margin-top: 40px;
}

.proj {
	padding-bottom: 12px;
}

.proj-name {
	font-size: 28px;

}

.proj-desc {
	font-size: 18px;
}